<section class="content">
  <div class="">
    <h1 class="text-center text-muted" style="font-weight:900; ">Pending approval List</h1>
  </div>
  <mat-card *ngIf="isMoblie">
    <mat-card-content>
      <div class="row align-items-baseline">
        <div class="col-9 align-items: baseline;">
          <mat-form-field class="example-form-field" style="width: 100%;">
            <mat-label>Search here...</mat-label>
            <input matInput type="text" #ger [(ngModel)]="searchvalue" (input)="filterRowData(ger.value)">
            <button *ngIf="ger.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="ger.value='';filterRowData(ger.value)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-3">
          <div class="d-flex justify-content-center" style="align-items: center;">
            <!-- <a class="btn btn-outline-primary" (click)="exportPdf()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              PDF
            </a>
            <a>|</a> -->
            <a class="btn btn-outline-success" (click)="exportAsExcelFile()">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
              <!-- EXCEL -->
            </a>
          </div>
        </div>
      </div>



    </mat-card-content>
  </mat-card>
  <div class="row mb-1 mt-1" style="line-height: 50px;" *ngIf="!isMoblie">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="">
        <form class="form">
          <mat-form-field class="width" appearance="outline">
            <mat-label>Choose Client</mat-label>
            <!-- <mat-icon title="clear" style="cursor: pointer;opacity: 0.4;" matSuffix *ngIf="countryCtrl.value"
              (click)="clearCountryCtrl()">clear</mat-icon> -->
            <input type="search" matInput placeholder="Choose Client" aria-label="Country" [matAutocomplete]="auto"
              [formControl]="countryCtrl" required />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="onChooseClient(client.username)" *ngFor="let client of filteredClients | async"
                [value]="client.username">
                <span>{{ client.clientname }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="">
        <mat-form-field appearance="outline">
          <mat-label>What's on Your Mind</mat-label>
          <input matInput placeholder="search anything here" id="quickFilter" (input)="onQuickFilterChanged()">
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center"
        style="align-items: center;margin: 0.25em 0;padding-bottom: 1.34375em;">

        <!-- <a class="btn btn-outline-primary" (click)="exportPdf()">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          PDF
        </a>
        <a>|</a> -->
        <a class="btn btn-outline-success" (click)="exportAsExcelFile()">
          <!-- <i class="fa fa-file-pdf-o" aria-hidden="true"></i> -->
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          EXCEL
        </a>
      </div>
    </div>
  </div>
  <div>
    <mat-chip-listbox>
      <mat-chip-option mat-stroked-button color="warn" (selectionChange)="getActiveAndDeactiveRequest('1')">Pending
        [{{pendingData?.Pending}}]</mat-chip-option>
      <mat-chip-option mat-stroked-button color="primary" (selectionChange)="getActiveAndDeactiveRequest('0')">Approved
        [{{pendingData?.Approved}}]</mat-chip-option>
      <mat-chip-option (click)="getActiveAndDeactiveRequest('2')" mat-stroked-button color="accent" selected>All
        [{{pendingData?.All}}]</mat-chip-option>

    </mat-chip-listbox>

  </div>
  <!-- <button (click)="getActiveAndDeactiveRequest('1')" mat-stroked-button color="warn">Pending
      [{{pendingData?.Pending}}]</button> &nbsp;&nbsp;

    <button (click)="getActiveAndDeactiveRequest('0')" mat-stroked-button color="primary">Approved
      [{{pendingData?.Approved}}]</button>&nbsp;&nbsp;
    <button (click)="getActiveAndDeactiveRequest('2')" mat-stroked-button color="accent">All
      [{{pendingData?.All}}]</button> -->
  <!-- </div> -->
  <div class="row" *ngIf="!isMoblie">
    <ag-grid-angular domLayout='autoHeight' #agGrid id="myGrid" class="ag-theme-alpine table-class" rowAnimation
      [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" [enableCellTextSelection]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <br>
  <mat-card *ngIf="isMoblie">
    <mat-card-content>
      <div class="row">
        <mat-card class="sample-card" *ngFor="let obj of rowData">
          <div class="row justify-content-center">
            <div class="col-10 d-flex align-items-center">
              <span class="card-headline-text">{{obj.subject | titlecase }}
              </span>
            </div>
            <div class="col-2 text-end d-flex justify-content-end align-items-center">
              <button mat-icon-button [ngStyle]="{'color':!obj?.isactive?'#9ede73':'#f55c47'}">
                <!-- <i [ngClass]="!obj?.isdelete?'fa fa-user':'fa fa-user-times'"
                  style=" font-size: large; margin-bottom: -0.2em; width: auto; height: auto;" aria-hidden="true"></i> -->
                <!-- <i style=" font-size: large;  width: auto; height: auto;" class="material-icons">favorite_border</i> -->
                <mat-icon style=" font-size: large;  width: auto; height: auto;">fiber_manual_record</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row sample-padding-t10">
            <div class="col-6">
              <span class="pcard-title-txt"> Distributor </span>
              <br>
              <span class="pcard-title-caption" style="text-transform: none;">
                {{obj?.distributor ? obj?.distributor:'N/A'}} </span>
            </div>
            <div class="col-6">
              <span class="pcard-title-txt"> Customer </span>
              <br>
              <span class="pcard-title-caption" style="text-transform: none;">
                {{obj.clientname?obj.clientname:'N/A'}}</span>
            </div>
          </div>
          <div class="row sample-padding-t10">
            <div class="col-6">
              <span class="pcard-title-txt">Requested On</span>
              <br>
              <span class="pcard-title-caption">{{obj?.createddate}}</span>
            </div>
            <div class="col-6">
              <span class="pcard-title-txt">Resolved On</span>
              <br>
              <span class="pcard-title-caption">{{obj?.updateddate ? obj?.updateddate:'N/A'}}</span>
            </div>
          </div>

          <!-- <br> -->
          <div class="row sample-padding-t10">
            <div>
              <span class="pcard-title-txt">Description</span>
              <br>
              <span class="card-caption"> {{obj?.description}}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row mt-2" id="add-more">
            <div class="col-12 d-flex justify-content-end">
              <button mat-raised-button [color]="obj.isactive?'warn':'primary'"
                (click)="obj.isactive? solveComplaint(obj):''">
                {{!obj.isactive?'Solved':'Pending'}}
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</section>