<div class="head">
    <div class="container">
        <div class="title">
            <h1>Edit Device Details</h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="container" style="height: 450px; overflow-y:scroll; border-top: 0px;">
        <form [formGroup]="form">
            <div class="last">
                <label for="cars">Choose a Country:</label>
                <select name="cars" id="cars" (change)="onChooseCountry($event)" formControlName="country">
                    <option *ngFor="let state of countryList" value="{{state.countryname}}" [disabled]="state.id=='0'">
                        {{state.countryname |
                        titlecase}}</option>
                </select>
            </div>



            <div class="last" *ngIf="selectedLocationByPin?.country =='INDIA'">
                <label for="cars">Choose a state:</label>
                <select name="cars" id="cars" (change)="onChooseState($event)" formControlName="state">
                    <option *ngFor="let state of stateList" value="{{state.statename}}" [disabled]="state.id=='0'">
                        {{state.statename |
                        titlecase}}</option>
                </select>
            </div>
            <div class="last" *ngIf="selectedLocationByPin?.country =='INDIA'">
                <label for="cars">Choose a district:</label>
                <select name="cars" id="cars" (change)="onChooseDistrict($event)" formControlName="district">
                    <option *ngFor="let state of districtList" value="{{state.name}}" [disabled]="state.id=='0'">
                        {{state.name |
                        titlecase}}</option>
                </select>
            </div>
            <div class="last" *ngIf="selectedLocationByPin?.country =='INDIA'">
                <label for="cars">Choose a city:</label>
                <select name="cars" id="cars" formControlName="city" (change)="onChooseCity($event)">
                    <option *ngFor="let city of cityListByStateid" value="{{city.cityname}}">{{city.cityname |
                        titlecase}}</option>
                </select>
            </div>
            <!-- <div class="last">
                <label for="last">location name:</label>
                <div class="clear"></div>
                <input type="text" name="last name" id="last" placeholder="enter location name" required formControlName="location">
              </div> -->
            <div class="last" *ngIf="selectedLocationByPin?.country =='INDIA'">
                <label for="city">location: <a class="text-primary" style="text-decoration: underline; cursor: pointer;"
                        (click)="chooseOrEnterCity()" *ngIf="!isEnter"> choose Location ?</a>
                    <a class="text-primary" style="text-decoration: underline; cursor: pointer;"
                        (click)="chooseOrEnterCity()" *ngIf="isEnter"> Enter Location ?</a> </label><br />
                <select #city name="city" id="city" (change)="onChooseLocation($event)" *ngIf="isEnter">
                    <option [value]="null">-- Select Your Location --</option>
                    <option *ngFor="let location of locationList" [value]="location.area">
                        {{ location.area }}
                    </option>
                </select>
                <input class="form-control" placeholder="Enter Location" formControlName="location" type="text"
                    *ngIf="!isEnter">
            </div>

            <div class="last" style="position: relative;" *ngIf="selectedLocationByPin?.country !='INDIA'">
                <label for="last">Pin/Zip code:</label>
                <div class="clear"></div>
                <input type="text" name="last name" id="last"   placeholder="Enter last name"
                    (input)="getLocationByPincode($event)" required formControlName="zipcode">
                <div id="locationByPin" *ngIf="selectedLocationByPin?.country !='INDIA'" style="z-index: 1; max-height: 240px; overflow-y: auto; position: absolute; left: 0; width: -webkit-fill-available; background-color: white;  
                padding:0 1.5em;
                border: transparent;
                box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);">
                    <mat-list role="list" style="position: relative;" *ngIf="!selectedLocationByPin">
                        <mat-list-item *ngFor="let l of locationsByPincodeList" role="listitem" style="cursor: pointer;"
                            (click)="selectLocationByPin(l)">
                            <!-- <mat-icon matListItemIcon>my_location</mat-icon> -->
                            <div matListItemTitle>{{l?.location}}</div>
                            <div matListItemLine>{{l?.city }} {{ l?.district }} {{l?.state }} {{ l?.country}}</div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div *ngIf="selectedLocationByPin?.country !='INDIA'" class="text-center text-primary fw-600 mt-2">
                    {{selectedLocationByPin?.location}} {{selectedLocationByPin?.city }} {{
                    selectedLocationByPin?.district }} {{selectedLocationByPin?.state }} {{
                    selectedLocationByPin?.country}}
                </div>
            </div>
            <div class="last" *ngIf="selectedLocationByPin?.country !='INDIA'">
                <label for="city">location:</label>
                <input class="form-control" placeholder="Enter Location" formControlName="location" type="text">
            </div>
            <div class="pass">
                <label for="pass">Device Location:</label>
                <div class="clear"></div>
                <input type="text" name="pass" placeholder="Enter landmark" required formControlName="landmark">
            </div>
            <!-- <div class="last">
                <label for="cars">Choose a plan:</label>
                <select name="cars" id="cars" formControlName="versionid">
                    <option *ngFor="let plan of planVersionList" value="{{plan.id}}">{{plan.version |
                        titlecase}}</option>

                </select>
            </div> -->
            <div class="last" *ngIf="customerData?.ispremium">
                <label for="cars">Choose a plan:</label>
                <select name="cars" id="cars" formControlName="versionid">
                    <option *ngFor="let plan of planVersionList" value="{{plan.id}}">{{plan.version |
                        titlecase}}</option>
                </select>
            </div>
            <div class="last" *ngIf="!customerData?.ispremium">
                <label for="cars">Choose a plan:</label>
                <select name="cars" id="cars" formControlName="versionid">
                    <ng-container *ngFor="let plan of planVersionList">
                        <option *ngIf="customerData?.versionMaster?.id<=plan?.id" [value]="plan.id">{{ plan.version |
                            titlecase }}
                        </option>
                    </ng-container>
                </select>
            </div>
            <div class="pass">
                <label for="pass">Unique Number:</label>
                <div class="clear"></div>
                <input type="text" name="pass" id="pass" placeholder="Enter username" required
                    formControlName="username">
            </div>
            <div class="last">
                <label for="cars">Choose a Modelname:</label>
                <select name="cars" id="cars" formControlName="modelname" [disabled]="isDistributor">
                    <option *ngFor="let state of modelList" value="{{state.modelname}}" [disabled]="state.id=='0'">
                        {{state.modelname |
                        titlecase}}</option>
                </select>
            </div>
            <div class="last">
                <label for="cars">Choose a Orientation:</label>
                <select name="cars" id="cars" formControlName="height_width">
                    <option *ngFor="let state of OrientationList" value="{{state.value}}">
                        {{state.name |
                        titlecase}}</option>
                </select>
            </div>
        </form>

    </div>
    <div class="submit" style="display: flex; justify-content: space-between; margin: 3%;">
        <!-- <input type="submit" (click)="onsubmit()" value="sign up"> -->

        <button mat-stroked-button (click)="closeMe()" color="accent">Cancel</button>
        <button mat-stroked-button (click)="onsubmit()" color="primary">Submit</button>
    </div>
</div>