<!-- <button type="submit" (click)="editeOnVista()" mat-raised-button>Hello</button> -->
<div id="vista">

</div>

<!-- <iframe src="http://localhost:4400/" style="height: 100vh; width:100% ;" frameborder="0"></iframe> -->
<!-- <iframe id="iframe" [src]="'https://ds.iqtv.in/reditor/#/customer/'+type+'/'+username" style="height: 100vh; width:100% ;" frameborder="0"></iframe> -->

<iframe id="iframe" [src]="'https://ds.iqtv.in/reditor/#/customer/'+username" style="height: 100vh; width: 100%;"
  frameborder="0">
</iframe>