.table-class {
    height: 76vh;

}


.file-upload {
    position: relative;
    overflow: hidden;

    border-radius: 3px !important;
    background: #ff0000;
    text-transform: capitalize;
    font-size: 13px;
    border: none !important;
    box-shadow: none !important;
    color: #fff !important;
    text-shadow: none;
    padding: 5px 10px !important;
    font-family: Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;

}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fileuploadurl {
    display: inline-block;
    border: none;
    vertical-align: middle;
    background: none;
    box-shadow: none;
    font-size: 11px;
    padding-left: 0;
    width: 103%;
    padding-right: 0;
}


.sample-card {
    color: #6d6d6d;
    font-family: 'SF';
    margin-bottom: 1em;
    // box-shadow: 0px 1.6px 10px #8080808a;
    padding-bottom: 0.4em;

}

#add-more {

    //   .mat-raised-button {
    //     line-height: 26px !important;
    //     font-size: small;
    //   }
    .mat-mdc-button.mat-mdc-button-base,
    .mat-mdc-raised-button.mat-mdc-button-base,
    .mat-mdc-unelevated-button.mat-mdc-button-base,
    .mat-mdc-outlined-button.mat-mdc-button-base {
        height: 28px !important;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        height: 32px !important;
    }

}

.card-headline-text {
    // text-transform: uppercase;
    color: #378cee;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.card-caption {
    color: #398e91 !important;
    font-size: 12px;
    // text-transform: capitalize !important;
    // font-weight: 600;
    display: flex;
    word-break: break-word;
}

.sample-padding-t10 {
    padding-top: 6px;
}

.pcard-title-txt {
    font-size: 13px;
    margin-bottom: 5px;
    // text-transform: uppercase;
}

.pcard-title-caption {
    font-size: 12px;
    color: #398e91 !important;
    // font-weight: 600;
}