<mat-stepper orientation="vertical">
  <mat-step style="height: 200px !important;">
    <ng-template matStepLabel>Playlist</ng-template>
    <ng-template matStepContent>
      <app-client-playlist></app-client-playlist>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Scroll Message design</ng-template>
    <ng-template matStepContent>
      <app-scroller-design></app-scroller-design>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Scroll Message design</ng-template>
    <ng-template matStepContent>
      <app-scroller-design></app-scroller-design>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Scroll Message design</ng-template>
    <ng-template matStepContent>
      <app-scroller-design></app-scroller-design>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Scroll Message design</ng-template>
    <ng-template matStepContent>
      <app-scroller-design></app-scroller-design>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>

</mat-stepper>
