<!-- <div style="display: flex; justify-content: center; align-items: center;"> -->
<section class="csc-section">
  <!-- (ngSubmit)="onSubmit()" -->
  <form [formGroup]="form">
    <h1 style="float: right; position: absolute; margin:1px"
      *ngIf="!routerState && isDistributor && !newCustomer?.username && !selectedType">
      <span [ngStyle]="{'color':isCopied?'green':'orange'}" style="cursor: pointer;" (click)="copyText()"
        class="material-icons">content_copy</span>
    </h1>
    <h1 class="text-muted" style="text-align: center; font-weight:900; ">Customer Registration </h1>
    <h4 class="text-primary" *ngIf="routerState" style="text-align: center; font-weight:700; ">Distributor :
      {{distributorName}}</h4>
    <div>
      <mat-form-field class="market-country-select" appearance="outline">
        <mat-label class="market-label">Choose Organization/Person </mat-label>
        <mat-select (selectionChange)="onChooseSelectedType($event)" [(ngModel)]="selectedType"
          [ngModelOptions]="{standalone: true}" required>
          <mat-option value="organization">
            Organization
          </mat-option>
          <mat-option value="person">
            Individual
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class=""> -->
    <form class="form" *ngIf="!routerState && !isDistributor && selectedType">
      <mat-form-field class="width" appearance="outline">
        <mat-label>Choose Distributor</mat-label>
        <!-- <mat-icon title="clear" style="cursor: pointer;opacity: 0.4;" matSuffix *ngIf="countryCtrl?.value ||distributor"
          (click)="clearCountryCtrl()">clear</mat-icon> -->
        <input type="search" matInput placeholder="Choose Client" aria-label="Country" [matAutocomplete]="auto"
          [(ngModel)]="distributorName" [formControl]="countryCtrl" required />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="onChooseDistributor(client)" *ngFor="let client of filteredDistributors | async"
            [value]="client.distributor">
            <span>{{ client.distributor }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <!-- </div> -->
    <div class="user_details" *ngIf="selectedType">
      <div class="input_pox">
        <fieldset style="position: relative;">
          <span class="datails" *ngIf="selectedType == 'person'">First Name: *</span>
          <span class="datails" *ngIf="selectedType != 'person'">Organization: *</span>
          <input type="text" [placeholder]="selectedType=='person'? 'Enter your First name':'Enter your Organization'"
            [ngClass]="{ 'is-invalid': submitted && f['fname'].errors }" formControlName="fname" required>
          <div *ngIf="submitted && f['fname'].errors" class="invalid-feedback"
            style="position: absolute; width: auto; bottom: 3px;">
            <div *ngIf="f['fname'].errors['required']">
              {{selectedType == 'person'?'Firstname is required':'Organization is required'}}</div>
            <div *ngIf="f['fname'].errors['pattern']">Firstname must be in text</div>
          </div>
        </fieldset>
      </div>
      <div class="input_pox" *ngIf="selectedType == 'person' && selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Last Name: </span>
          <input type="text" [ngClass]="{ 'is-invalid': submitted && f['lname'].errors }" formControlName="lname"
            placeholder="Enter your Last name" required>
          <div *ngIf="submitted && f['lname'].errors" class="invalid-feedback"
            style="position: absolute; width: auto; bottom: 3px;">
            <div *ngIf="f['lname'].errors['required']">Lastname is required</div>
            <div *ngIf="f['lname'].errors['pattern']">Lastname must be in text</div>
          </div>
        </fieldset>
      </div>

      <div class="input_pox" *ngIf="selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Username:*</span>
          <input type="text" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" formControlName="username"
            placeholder="Enter your Username" required>
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback"
            style="position: absolute; width: auto;bottom: 3px;">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">
              Username must be at least 4 characters
            </div>
            <div *ngIf="f['username'].errors['maxlength']">
              Username must not exceed 20 characters
            </div>
          </div>
        </fieldset>
      </div>
      <div class="input_pox" *ngIf="selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Password:*</span>
          <span *ngIf="!isShow" style="position: absolute; right: 4.5%; bottom: 32%; cursor: pointer;"
            class="fa fa-eye-slash" (click)="showPassword()"></span>
          <span *ngIf="isShow" style="position: absolute; right: 4.5%; bottom: 32%;  cursor: pointer;"
            class="fa  fa-eye " (click)="hidePassword()"></span>
          <input type="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            formControlName="password" id="password" placeholder="Enter your Password" required>
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback"
            style="position: absolute; width: auto;bottom: 3px;">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength'] ">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Username must not exceed 20 characters
            </div>
            <div class="help is-danger"
              *ngIf="f['password'].errors['strong'] && !f['password'].errors['minlength'] && !f['password'].errors['maxlength'] && !f['password'].errors['required']">
              Must have at least one number, one lowercase and one uppercase letter.</div>
          </div>
        </fieldset>
      </div>
      <div class="input_pox" *ngIf="selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Email:*</span>
          <input type="text" placeholder="Enter your Email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            formControlName="email" required>
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback"
            style="position: absolute; width: auto;bottom: 3px;">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </fieldset>
      </div>
      <div class="input_pox" *ngIf="selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Phone Number:*</span>
          <input type="number" maxLength="10" min="0" (keydown)="onKeydown($event)" placeholder="Enter your Phone"
            [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" maxlength="10" formControlName="phone"
            onlyNumber required>
          <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback"
            style="position: absolute; width: auto; bottom: 3px;">
            <div *ngIf="f['phone'].errors['required']">Enter a valid Phone Number</div>
            <div *ngIf="f['phone'].errors['minlength']">Phone must be at least 10 characters long.</div>
            <div *ngIf="f['phone'].errors['maxlength']">Phone must be at most 10 characters long.</div>
          </div>
        </fieldset>
      </div>
      <div class="input_pox" *ngIf="selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Alternate Phone Number: <span class="text-muted">(optional)</span></span>
          <input type="number" maxLength="10" min="0" (keydown)="onKeydown($event)" placeholder="Enter your Phone"
            [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" maxlength="10" formControlName="phone2"
            onlyNumber>
          <!-- <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback"
              style="position: absolute; width: auto;bottom: 3px;">
              <div *ngIf="f['phone'].errors['required']">Enter valid Phone Number</div>
              <div *ngIf="f['phone'].errors['minlength']">
                phone must be 10 characters long.
              </div>
            </div> -->
        </fieldset>
      </div>
      <!-- <div class="input_pox" *ngIf="selectedType == 'person' && selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Date Of Birth:*</span>
          <input type="Date" placeholder="Choose Date Of Birth" [max]="currentDate"
            [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" formControlName="dob" required>
          <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback"
            style="position: absolute; width: auto;bottom: 3px;">
            <div *ngIf="f['dob'].errors['required']">Date Of Birth is required</div>
            <div *ngIf="f['dob'].errors['TDate']">
              Date Of Birth must be greater than Today.
            </div>
          </div>
        </fieldset>
      </div> -->


      <!-- <div class="input_pox " *ngIf="selectedType == 'person' && selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Company Name:*</span>
          <input type="text" placeholder="Company Name" [ngClass]="{ 'is-invalid': submitted && f['company'].errors }"
            formControlName="company" required>

          <div *ngIf="submitted && f['company'].errors" class="invalid-feedback"
            style="position: absolute; width: auto;bottom: 3px;">
            <div *ngIf="f['company'].errors['required']">Company is required</div>
          </div>
        </fieldset>
      </div> -->
    </div>
    <div class="gender_details" *ngIf="selectedType == 'person' && selectedType">
      <input type="radio" name="gender" value="male" id="dot-1" formControlName="gender">
      <input type="radio" name="gender" value="female" id="dot-2" formControlName="gender">
      <input type="radio" name="gender" value="none" id="dot-3" formControlName="gender">
      <span class="gender_title"> Gender</span>
      <div class="category">
        <label for="dot-1">
          <span class="dot one"></span>
          <span class="gender">Male</span>
        </label>
        <label for="dot-2">
          <span class="dot two"></span>
          <span class="gender">Female</span>
        </label>
        <!-- <label for="dot-3">
                    <span class="dot three"></span>
                    <span class="gender">Perer not to say</span>
                </label> -->
      </div>

    </div>

    <!-- <fieldset>
        <label for="country">Country:</label><br /><br />
        <select #country name="country" id="country" (change)="onCountryChange($event)">
          <option [value]="null">-- Select Your Country --</option>
          <option *ngFor="let country of countries" [value]="country | json">
            {{ country.flag }}&nbsp;&nbsp;{{ country.name }}
          </option>
        </select>
        <select #country name="country" id="country">
          <option>
            INDIA
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label for="state">State:</label><br /><br />
        <select *ngIf="states" #state name="state" id="state" (change)="onStateChange($event)">
          <option [value]="null">-- Select Your State --</option>
          <option *ngFor="let state of states" [value]="state | json">
            {{ state.name }}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label for="city">City:</label><br /><br />
        <select *ngIf="cities" #city name="city" id="city" (change)="onCityChange($event)">
          <option [value]="null">-- Select Your City --</option>
          <option *ngFor="let city of cities" [value]="city | json">
            {{ city.cityname }}
          </option>
        </select>
      </fieldset> -->
    <fieldset *ngIf="selectedType">
      <label for="country">Country:*</label><br /><br />
      <!-- <select #country name="country" id="country" (change)="onCountryChange($event)">
          <option [value]="null">-- Select Your Country --</option>
          <option *ngFor="let country of countries" [value]="country | json">
            {{ country.flag }}&nbsp;&nbsp;{{ country.name }}
          </option>
        </select>
        <select #country name="country" id="country">
          <option>
            INDIA
          </option>
        </select> -->
      <select #country name="country" id="country" [(ngModel)]="selectedCountryn" [ngModelOptions]="{standalone: true}"
        (change)="getStateListByCountrynameOrId($event)">
        <option [value]="null">-- Select Your Country --</option>
        <option *ngFor="let country of countryList" [value]="country.countryname">
          {{ country.countryname }}
        </option>
      </select>
    </fieldset>

    <fieldset *ngIf="selectedType && selectedCountryn=='INDIA'">
      <label for="state">State:*</label><br /><br />
      <select *ngIf="stateList" #state name="state" id="state" [(ngModel)]="choosedStateId"
        [ngModelOptions]="{standalone: true}" (change)="getDistrictListByStatenameOrId($event)">
        <option [value]="null">-- Select Your State --</option>
        <option *ngFor="let state of stateList" [value]="state.id">
          {{ state.statename }}
        </option>
      </select>
    </fieldset>
    <fieldset *ngIf="selectedType && selectedCountryn=='INDIA'">
      <label for="city">District:*</label><br /><br />
      <select *ngIf="districtList" name="city" id="city" [(ngModel)]="choosedDistrictId"
        [ngModelOptions]="{standalone: true}" (change)="getCityListByDistrictnameOrId($event)">
        <option [value]="null">-- Select Your District --</option>
        <option *ngFor="let district of districtList" [value]="district.id">
          {{ district.name }}
        </option>
      </select>
    </fieldset>
    <fieldset *ngIf="selectedType && selectedCountryn=='INDIA'">
      <label for="city">City:*</label><br /><br />
      <select *ngIf="cityList" #city name="city" id="city" [(ngModel)]="choosedCityId"
        [ngModelOptions]="{standalone: true}" (change)="onCityChange($event)">
        <option [value]="null">-- Select Your City --</option>
        <option *ngFor="let city of cityList" [value]="city.id">
          {{ city.cityname }}
        </option>
      </select>
    </fieldset>

    <fieldset *ngIf="selectedType  && selectedCountryn=='INDIA'">
      <label for="city">location:*<a class="text-primary" style="text-decoration: underline; cursor: pointer;"
          (click)="chooseOrEnterCity()" *ngIf="!isEnter"> choose Location ?</a>
        <a class="text-primary" style="text-decoration: underline; cursor: pointer;" (click)="chooseOrEnterCity()"
          *ngIf="isEnter"> Enter Location ?</a> </label><br /><br />
      <select #city name="city" id="city" (change)="onChooseLocation($event)" [(ngModel)]="locationName"
        [ngModelOptions]="{standalone: true}" *ngIf="isEnter">
        <option [value]="null">-- Select Your Location --</option>
        <option *ngFor="let location of locationList" [value]="location.area">
          {{ location.area }}
        </option>
      </select>
      <input class="form-control" placeholder="Enter Location" type="text" *ngIf="!isEnter"
        (keyup)="onChooseLocation($event)">
    </fieldset>
    <div class="user_details" *ngIf="selectedType">
      <div class="input_pox" *ngIf="selectedType">
        <fieldset style="position: relative;">
          <span class="datails">Postal / Zip:*</span>
          <input type="text"  (input)="getLocationByPincode($event)"
            placeholder="Pincode" [ngClass]="{ 'is-invalid': submitted && f['zip'].errors }"
            formControlName="zip"  required>
          <div *ngIf="submitted && f['zip'].errors" class="invalid-feedback"
            style="position: absolute; width: auto;bottom: 3px;">
            <div *ngIf="f['zip'].errors['required']">zip is required</div>
            <div *ngIf="f['zip'].errors['minlength'] ">
              zip must be 6 characters
            </div>
          </div>
          <div id="locationByPin" style="z-index: 1; max-height: 180px; overflow-y: auto; position: absolute; left: 0; width: -webkit-fill-available; background-color: white;     border-radius: 1em;
          padding:0 1.5em;
          border: transparent;
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);">
            <mat-list role="list" style="position: relative;" *ngIf="!selectedLocationByPin">
              <mat-list-item *ngFor="let l of locationsByPincodeList" role="listitem" style="cursor: pointer;"
                (click)="selectLocationByPin(l)">
                <!-- <mat-icon matListItemIcon>my_location</mat-icon> -->
                <div matListItemTitle>{{l?.location}}</div>
                <div matListItemLine>{{l?.city }} {{ l?.district }} {{l?.state }} {{ l?.country}}</div>
              </mat-list-item>
            </mat-list>
            <div *ngIf="selectedCountryn!='INDIA'" class="text-center text-primary fw-600 mt-2">
              {{selectedLocationByPin?.location}} {{selectedLocationByPin?.city }} {{
              selectedLocationByPin?.district }} {{selectedLocationByPin?.state }} {{ selectedLocationByPin?.country}}
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <fieldset *ngIf="selectedType  && selectedCountryn!='INDIA'">
      <label for="city" class="mb-1">location:*</label>
      <input class="form-control" style="height: 45px;
      width: 100%;
      outline: none; box-shadow: none !important;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding-left: 15px;
      font-size: 16px;
      border-bottom-width: 2px;
      transition: all 0.3s ease;"  placeholder="Enter Location"  [value]="locationName" type="text" (keyup)="onChooseLocation($event)">
    </fieldset>


    <!-- <fieldset style="position: relative;"
      *ngIf="(isAdmin && (selectedType==='organization') && !routerState) || (distributorpremium && (selectedType==='organization'))">
      <div class="form-group form-check">
        <label style="color: #ff4081; font-size: medium;">Is Multi Business Company ?</label>
        <br>
        <br>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="ismbc"
          [(ngModel)]="selectedMbc">
          <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button> &nbsp;
          <mat-radio-button class="example-radio-button" [value]="false">no</mat-radio-button>
        </mat-radio-group>
      </div>
    </fieldset> -->
    <!-- <fieldset *ngIf="selectedType">
      <label for="state"> Plan:*</label><br /><br />
      <select formControlName="versionid" [(ngModel)]="selectedPlanId">
        <option [value]="null">-- Select Customer Plan --</option>
        <option *ngFor="let plan of planVersionList" [value]="plan.id">
          {{ plan.version}}
        </option>
      </select>
    </fieldset> -->
    <fieldset style="position: relative;"
      *ngIf="isAdmin && selectedType && !routerState || (distributorpremium && selectedType)">
      <div class="form-group form-check">
        <label style="color: #ff4081; font-size: medium;">Is Premium ?</label>
        <br>
        <br>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          formControlName="ispremium" [(ngModel)]="selectedPremium" (change)="onRadioButtonChange($event)">
          <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button> &nbsp;
          <mat-radio-button class="example-radio-button" [value]="false">no</mat-radio-button>
        </mat-radio-group>
      </div>
    </fieldset>

    <div class="user_details" *ngIf="selectedType && selectedType != 'person'">
      <div class="input_pox">
        <fieldset style="position: relative;">
          <span class="datails">GST No:*</span>
          <input type="text" [ngClass]="{ 'is-invalid': submitted && f['gst_no'].errors }" formControlName="gst_no"
            placeholder="Enter Gst Number" required>
          <div *ngIf="submitted && f['gst_no'].errors" class="invalid-feedback"
            style="position: absolute; width: auto; bottom: 3px;">
            <div *ngIf="f['gst_no'].errors['required']">gst number is required</div>
            <div *ngIf="f['gst_no'].errors['minlength']">
              gst number must be at least 4 characters
            </div>
            <div *ngIf="f['gst_no'].errors['maxlength']">
              gst number must not exceed 8 characters
            </div>
          </div>
        </fieldset>
      </div>
      <div class="input_pox">
        <fieldset style="position: relative;">
          <span class="datails">TAN No: </span>
          <input type="text" [ngClass]="{ 'is-invalid': submitted && f['tan_no'].errors }" formControlName="tan_no"
            placeholder="Enter Tan Number">
          <div *ngIf="submitted && f['tan_no'].errors" class="invalid-feedback"
            style="position: absolute; width: auto; bottom: 3px;">
            <div *ngIf="f['tan_no'].errors['required']">tan number is required</div>
            <div *ngIf="f['tan_no'].errors['minlength']">
              tan number must be at least 4 characters
            </div>
            <div *ngIf="f['tan_no'].errors['maxlength']">
              tan number must not exceed 8 characters
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <!-- style="display: flex; justify-content: space-evenly; flex-wrap: wrap;" -->
    <fieldset *ngIf="selectedType">
      <h3>Choose devices:*</h3>
      <!-- <div class="item-container">
          <mat-accordion>
            <ng-container *ngFor="let device of deviceModelist; let i = index">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-checkbox (change)="onCheckboxChange($event,device)">
                    </mat-checkbox> &nbsp;{{device?.modelname}} &nbsp;&nbsp;[<span class="text-primary">  {{device?.size}}"</span> ]
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row" style="align-items: center;">
                  <div class="col-12 col-sm-3 d-flex">
                    count: <input (keydown)="onCheckboxChange($event,device)" (change)="onCheckboxChange($event,device)"
                      style="width: 50%; padding-left: 4%; border-radius: inherit; border-color: rgb(163, 245, 245); margin-left: 4%;"
                      type="number" min="1" step="1" value="1"> <button
                      style="border: 1px #0d6efd solid; border-radius: 2px; margin-left: 3%;  background-color: #0d6efd; color: white; padding: 2px 5px;">save</button>

                  </div>
                  <div class="col-12 col-sm-3 text-muted">
                    Size: {{device.size}} Inchs.
                  </div>

                  <div class="col-6 col-sm-4 text-muted">
                    Price: Rs. {{device.price}}
                  </div>

                  <div class="col-6 col-sm-4 text-muted">
                    <span> Plan:&nbsp;<span *ngIf="selectedPlanId=='1'" style="color: brown; font-weight: 600;">
                        Basic</span>
                      <span *ngIf="selectedPlanId=='2'" style="color: blueviolet; font-weight: 600;"> Lite</span> <span
                        *ngIf="selectedPlanId=='3'" style="color: goldenrod; font-weight: 600;">
                        Pro</span></span>
                  </div>

                  <div class="col-12 col-sm-3 text-muted">
                    <mat-form-field appearance="outline" style="margin: 0px !important;">
                      <mat-label>Choose Plan</mat-label>
                      <mat-select name="countryString" placeholder="Choose Plan" [value]="3"
                        (selectionChange)="onSelectPlan($event,device)">
                        <span *ngFor="let version of planVersionList; let i = index">
                          <mat-option *ngIf="i<selectedPlanId" [value]="version.id">{{version.version}}</mat-option>
                        </span>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </div> -->

      <div class="item-container">
        <div style="display: flex; flex-wrap: wrap;">
          <mat-card class="example-card"
            style="max-width: 290px; margin: 1%; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);"
            *ngFor="let device1 of modelList1; let i = index">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <div style="display: flex;">
                    <img (click)="openImage($event,device1)" [src]="device1?.imageurl" height="260" width="230"
                      style="margin-right: 20%; cursor: pointer;" alt="">
                  </div>
                </mat-card-title>
                <mat-card-subtitle>{{device1?.model}}</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div class="item-container">
                <mat-accordion>
                  <ng-container *ngFor="let device of device1?.list; let j = index">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <!-- <div style="display: flex; justify-content: center;">
                            <img (click)="openImage($event,device)" src="assets/images/models/{{device.modelname}}.png"
                              height="50" width="50" style="margin-right: 20%;" alt="">
                          </div> -->
                        <mat-panel-title>
                          <mat-checkbox (change)="onCheckboxChange($event,device)" [checked]="device.isselect">
                          </mat-checkbox> &nbsp;{{device.modelname}} [<span class="text-primary">
                            {{device.size}}"</span>]
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="row" style="align-items: center;">
                        <div class="col-12  d-flex mb-1">
                          count: <input (keydown)="onCheckboxChange($event,device)" [value]="device.count"
                            (change)="onCheckboxChange($event,device)"
                            style="width: 50%; padding-left: 4%; border-radius: inherit; border-color: rgb(163, 245, 245); margin-left: 4%;"
                            type="number" min="1" step="1" value="1"> <button
                            style="border: 1px #0d6efd solid; border-radius: 2px; margin-left: 3%;  background-color: #0d6efd; color: white; padding: 2px 5px;"
                            (click)="saveThis(device?.id)" [id]="'save'+device?.id">save</button>
                          <span [id]="device?.id+'SAVE'"
                            style="color: green; font-size: small; margin-top: 2.5%;"></span>
                        </div>
                        <div class="col-12 mb-1 text-muted">
                          Size: {{device.size}} Inchs.
                        </div>
                        <!-- <div class="col-12  text-muted">
                            Price: Rs. {{device.price}}
                          </div>
                          <div class="col-6  text-muted">
                            Plan: <span style="color: blueviolet; font-weight: 500;">
                              {{client?.versionMaster?.version | titlecase }}</span>
                          </div> -->
                        <!-- <div class="col-12  text-muted mb-1">
                          <mat-form-field appearance="outline" style="margin: 0px !important;">
                            <mat-label>Choose Plan</mat-label>
                            <mat-select name="countryString" placeholder="Choose Plan" [value]="1"
                              (selectionChange)="onSelectPlan($event,device)">
                              <span *ngFor="let version of planVersionList; let  z= index">
                                <mat-option *ngIf="selectedPremium ? selectedPremium: selectedPlanId <= (z+1)"
                                  [value]="version.id">{{version.version}}</mat-option>
                              </span>

                            </mat-select>
                          </mat-form-field>
                        </div> -->
                      </div>
                    </mat-expansion-panel>
                  </ng-container>
                </mat-accordion>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </fieldset>

    <fieldset *ngIf="selectedType">
      <div class="container">
        <div class="receipt_body">
          <div class="items">
            <table>
              <thead style="border-bottom: 1px black dashed;">
                <th>Model</th>
                <th>Size</th>
                <th>Plan</th>
                <th>Quantity</th>
                <!-- <th>Price</th> -->
                <!-- <th>AMT</th> -->
              </thead>
              <tbody *ngFor="let device of DeviceList">
                <tr>
                  <td>{{device?.modelname}}</td>
                  <td>{{device?.size}} Inchs.</td>
                  <td>{{device?.version}}</td>
                  <td>{{device?.count}}</td>
                  <!-- <td>{{device.price}} Rs</td> -->
                  <!-- <td>{{ mathRound(device?.count * device?.price)}}</td> -->
                </tr>
              </tbody>
              <tfoot>
                <!-- <tr>
                    <td>Change</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{totalAmount1}}</td>
                  </tr> -->
                <!-- <tr style="color: red;">
                    <td>Discount</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> <input type="number" (change)="discountCalculator($event)" (keyup)="discountCalculator($event)"
                        value="0" step="0.1" min="0" style="width: 45px; border: 1px; margin-left: 5%;"
                        formControlName="discount"> % - {{FinaltotalAmount}}</td>
                  </tr> -->
                <tr style="color: rgb(4, 63, 36); font-weight: 700; font-size: larger;">
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <!-- <td></td> -->
                  <!-- <td>{{mathRound(totalAmount1-FinaltotalAmount)}}</td> -->
                  <td>{{totalquantity}}</td>
                </tr>
              </tfoot>

            </table>
            <!-- <div style="display: flex; justify-content: center; border-top: 2px rgb(154, 196, 243) dashed;">
                <button style="margin-top: 1%; " mat-raised-button color="primary">Make Payment</button>
              </div> -->
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset style="position: relative;" *ngIf="selectedType">
      <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms"
          [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" />
        <label for="acceptTerms"> &nbsp; I have read and agree to the <a style="color: #0d6efd;"> Terms
          </a></label>
        <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback"
          style="position: absolute; width: auto; bottom: 3px;">
          Accept Terms is required
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary m-2">Register</button>
      <button type="button" *ngIf="!newCustomer?.username" (click)="onReset()" class="btn btn-warning float-right">
        Reset
      </button>
    </div>

    <!-- <div class="button">
            <input type="submit" value="Register">
        </div> -->
  </form>
</section>
<!-- </div> -->