<!-- <div class="preloader d-flex align-items-center justify-content-center flex-column">
    <div class="la-square-jelly-box la-2x">
        <div></div>
        <div></div>
    </div>
    <div class="text">IQ World</div>
</div> -->

<div class="preloader">
    <div class="loader-body" style=" font-family: 'Barlow', sans-serif !important;">
        <div class="row">
            <div class="container">
                <div class="part2">
                    IQ
                </div>
                <div class="part1">
                    World
                </div>
            </div>
        </div>
        <div class="loader">
            <div class="loading">
            </div>
        </div>
    </div>
</div>