<section class="content1">
    <!-- <div class="col-xm-12 col-xl-12"  style="text-align: end;">
            <app-countdown-timer class="timer-cs"></app-countdown-timer>
          <p class="timer-cs">{{message}}</p>  
        </div> -->
        <div class="pt-4">
            <app-new-dashboard></app-new-dashboard>
        </div>
</section>

<div class="row mt-4 " style="margin: auto;">
    <div class="col-12 col-sm-6 p-4 box"><app-registration-chart></app-registration-chart></div>
    <div class="col-12 col-sm-6 p-4 box">
        <app-revenue-analasys></app-revenue-analasys>
    </div>
    <div class="col-12 p-4 box m-auto">
        <app-bar-charts></app-bar-charts>
    </div>
    <br>
    <!-- <div class="col-12 col-sm-12 p-4 box m-auto"> <app-pie-charts></app-pie-charts></div> -->
</div>